@import "./tailwind.css";
@import "./font.css";
@import "./base.css";
@import "./colors.css";
@import "./additional.css";
@import "./scrollbar.css";
@import "./cursor.css";
.windows{
  border-radius: 12px;
  padding: 4px;
  height: 100%;
  width: 100%;
}

.windows body{
  height: 100%;
  width: 100%;
  border-radius: inherit;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.windows #root{
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: relative;
  flex: 1;
  overflow: hidden;

}
